<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>CompanyLogoScene</string>
		<string>GameLogoScene</string>
		<string>GameMenuScene</string>
		<string>SettingScene</string>
		<string>StoreScene</string>
		<string>CreditScene</string>
		<string>WorldSelectionScene</string>
		<string>AdditionScene</string>
		<string>SubtractionScene</string>
		<string>ShapesScene</string>
		<string>MusicSoundScene</string>
		<string>DisconnectFromTheGameCentreScene</string>
		<string>AllScene</string>
		<string>HelperClass</string>
	</array>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
